body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

h1 {
	outline: 2px dashed #333;
	padding: 10px;
	cursor: pointer;
	transition: padding 0.3s ease-in-out, transform 0.3s ease-in-out;
}

article {
	resize: both;
	overflow: auto;
	border: 2px solid #333;
	padding: 10px;
	margin: 10px;
	cursor: grab;
	transition: border 0.3s ease-in-out, margin 0.3s ease-in-out, transform 0.3s ease-in-out;
	transform-origin: top left;
}

section {
	background: linear-gradient(to right, #ff8c00, #ffcd94);
	padding: 20px;
	margin: 10px;
	border-radius: 15px;
	transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

img {
	border: 10px solid;
	transition: transform 0.5s ease-in-out;
}

div {
	border: 5px solid transparent;
	background-clip: padding-box;
	padding: 20px;
	margin: 10px;
	background-image: linear-gradient(to right, #000, #333);
	transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

p {
	text-decoration: underline;
	text-shadow: 2px 2px 2px #888;
	transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

h1:hover,
article:hover,
section:hover,
div:hover,
p:hover {
	padding: 15px;
	border-color: #ff8c00;
	background: linear-gradient(to right, #ffcd94, #ff8c00);
	text-shadow: 4px 4px 4px #888;
	transform: translateY(10px);
}
img:hover {
	transform: matrix3d(1, 0, 0, 0,
					   0, 1, 0, 0,
					   0, 0, 1, 0,
					   0, 0, 0, 2) scale3d(1.2, 1.2, 1.2);
}